<header>
    <h1> BB's Poem Generator</h1>
    <% if (user) { %>
        <nav>
            <ul>
                <li><a href="/poems">Your Poems</a></li>
                <li><a href="/users/logout">Logout</a></li>
            </ul>
        </nav>
    <% } else { %>
        <nav>
            <ul>
                <li><a href="/users/logon">Login</a></li>
                <li><a href="/users/register">Register</a></li>
            </ul>
        </nav>
    <% } %>
</header>
